/* Stylizacja dla kontenera formularza */
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Formularz rejestracyjny */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
}

.register-form input, .register-form button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.register-form input:focus,
.register-form button:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Wymagania hasła */
.password-requirements {
    margin-top: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease;
}

.password-requirements.active {
    opacity: 1;
    max-height: 300px;
    visibility: visible;
    transition: all 0.5s ease;
}

.password-requirements p {
    margin: 5px 0;
    font-size: 14px;
}

.password-requirements p.valid {
    color: green;
}

.password-requirements p.invalid {
    color: red;
}

.password-requirements p:before {
    content: "•";
    color: #4CAF50;
    margin-right: 8px;
}